gris_oscuro=#444
naranja=#DD4F24

a 
	color red

body
	background #E8E8E8 
	color gris_oscuro
	font-family Arial 
	font-size 16px
	-webkit-transition font-size 1s
	-moz-transition font-size 1s
	-ms-transition font-size 1s
	-o-transition font-size 1s
	transition font-size 1s

footer
	background naranja
	border-radius 2em
	padding 1em 0
	text-align center
	
header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(2,2,2,0.2)
	border-radius 2em
	color white
	padding 0.5em
	text-align center


nav 
	font-size 25px
